@import "tailwindcss";

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Optional: Map theme variables for inline usage */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

input {
  @apply w-full rounded-lg border border-[#d1f8d4] text-gray-800 px-2 py-2.5 md:px-3 gap-2.5 focus:ring-0 focus:border-[#e8f5e9] placeholder:text-gray-500 outline-none appearance-none focus:outline-none focus:shadow-sm shadow-[#e8f5e9];
}

select,
textarea {
  @apply w-full rounded-lg border border-[#d1f8d4] text-gray-500 px-2 py-2.5 md:px-3 gap-2.5 focus:ring-0 focus:border-[#e8f5e9] placeholder:text-gray-500 outline-none focus:outline-none shadow-none appearance-none focus:shadow-sm shadow-[#e8f5e9];
}
